.home{
    background-image: url(../imag/pexels-photo-67468.webp);
    background-size: cover cover;
  background-position: 100% 100%;
}
body{
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    background-color: rgba(241, 217, 189, 0.424);
}
.search{
  top: 83%;
  left: 200px;
}
.inputs input{
    height: 50px;
}
.inputs button{
    background-color: rgba(251, 147, 28, 0.424);
    padding: 10px 10px 10px 10px;
    border: none;
}
.inputs button:hover{
    background-color: rgba(251, 147, 28, 0.424) !important;
    padding: 10px 10px 10px 10px;
 
}
.capion{
    font-family: 'Roboto', sans-serif;
   
}
.lead{
  color: #939393;
}
.color{
    color: rgba(251, 147, 28, 0.424);
}